body{
    font-family: 'Rubik', sans-serif;
    background-color: aquamarine;
    width: auto;
    margin: auto;
}
.titulo{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2.5rem;
}
nav{
    background-color: rgb(157, 177, 7);
    height: 2rem;
    text-align: center;
    justify-content: center;
}
nav a{
    margin-inline: 1rem;
    font-size: 1.5rem;
}